<!DOCTYPE html>
<! using ng-app in html tag, so that no need to keep js code inside script tag anywhere>
<html ng-app="myApp">
    <! console.log() can be written as {{}}>
    <head>
        <title>Angular JS Tutorial</title>
        <script src="JS/angular.min.js"></script>
        <script src="JS/custom.js"></script>
        <style type="text/css">
            body{
                background-color:{{color}};`
            }
        </style>
        
    </head>
    <body>
        <!ng-model is used to declare variable, everything write in box will be store in that variable>
        <select ng-model="color">
            <option>white</option>
            <option>red</option>
            <option>blue</option>
            <option>green</option>
            <option>black</option>
        </select><br>
        {{"this is my background color: " + color}}

        <!Create variable and assign value>
        <div ng-init="firstname='Adnan'; surname='Khan'; age=23">
            {{" "+firstname+" "+surname+" "+age}}
        </div>

        <!ARRAY>
        <div ng-init="detail=['name','age','city']">
            <p ng-repeat="s in detail">{{s}} </p>
        </div>

        <!Using Controller>
        <div ng-controller="mycontroller">
            <input type="text" ng-model="name" name="">
            <input type="text" ng-model="city" name="">
            <br>
            {{"Name: "+name}}
            <br>
            {{"City: "+city}}
            <br>
            <p>
                {{details()}}
            </p>
            <hr>
            <ol>
                <li ng-repeat="ss in json">
                    {{ss.car + ss.maker}}
                </li>
            </ol>

        </div>
        <p>
            This is my name outside because of $rootScope: {{name}}
        </p>
        
        
    </body>
</html>